body {
	background-color: #A9A9A9;
	font-family: sans-serif;

}
#contenido{
	width: 960px;
	margin: 0 auto;
	text-align: center;
}

h2 {
	color: rgba(0,0,0,0.5);

}

h1 {
	margin-bottom: 30px;
	font-family: 'Russo One', sans-serif; 
}

header hgroup h1{
	border-bottom: solid;
	padding-bottom: 30px;
	border-width: 1px;
	border-color: #000000;
	text-shadow: 0px 0px 30px rgba(0,0,0,0.5);
}

nav ul li{

	display: inline-block;
	margin-bottom: 10px;
	margin-right: 20px;
	color: black;
	cursor: pointer;
	padding: 5px;

	transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
}

nav ul li:hover{
	background-color: #008B8B;
	color: #FFF;
	border-radius: 5px;

}

nav ul li a{
	text-decoration: none;
}

table{

	border: 1px solid black;
		border-collapse: collapse;
	border-radius: 15px 15px 15px 15px;
-moz-border-radius: 21px 21px 21px 21px;
-webkit-border-radius: 21px 21px 21px 21px;
border: 1px solid #A9A9A9;
background-color: #008B8B;

}

a{
	color: #000000;
	font-weight: bold;
}

#micanvas{
	position: absolute;
	bottom: 0px;
	left: 0px;

}

img[src="imagenes/logo.png"]{

	position: absolute;
	left:340px;
	top: 3px;

}

img[src="http://tecsicom.net/img/exit.png"]{
	position: absolute;
	left:430px;
	top: 500px;
}

img[src="imagenes/atras.png"]{
	position: absolute;
	left:590px;
	top: 560px;
}

img[src="http://sie7epr.files.wordpress.com/2013/08/conference-2.png"]{
	position: absolute;
	left:400px;
	top: 300px;
	width: 200px;
}